html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #a5b1c2;
}

.backgroundContainer {
  position: absolute;
  background-image: url('./images/5.jpg');
  background-size: 120vw 120vh;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  
  z-index: 1;
  animation: background_Animation 15s infinite;
}

@keyframes background_Animation {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 10px) 50%;
  }
}

.contentContainer {
  position: absolute;
  
  display: flex;
  flex-direction: row;

  width: 80%;
  height: 80%;

  top: 10%;
  left: 10%;
  
  z-index: 3;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
}

.infoContainer {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;

  align-self: center;
  align-items: center;
  justify-content: center;
}

.clock {
  color: white;
  font-size: 4em;
}

.name {
  color: white;
}

.basicForm {
  width: 40%;
  z-index: 1;
}

.nameInput,
.todoInput {
  background: none;
  border: none;
  border-bottom: 3px solid white;

  width: 100%;
  padding: 10px 0;

  outline: none;
  
  text-align: center;;
  font-size: 1rem;
  color: white;
  
  z-index: 1;
}

.nameInput:focus,
.todoInput:focus {
  transition: 1s linear;
  border-bottom-color: #2ecc71;
  
}

.nameInput::placeholder,
.todoInput::placeholder {
  color: white;
}

.inactiveForm {
  display: none;
}

.listContainer {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.weatherContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}

.weather {
  color: white;
}

.todoContainer {
  flex: 3;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.undoContainer {
  height: 250px;
  z-index: 0;
}

.doneContainer {
  height: 250px;
  z-index: 0;
}

.undoTitle,
.doneTitle {
  text-align: center;
  color: white;
}

.basicList {
  height: 60%;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.basicList > li {
  padding: 10px 30px;
  width: 80%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.basicList > li > span {
  width: 60%;
  overflow: hidden;
  text-align: center;
  transition: ease-in-out 1s;
}

.basicList > li > span:hover {
  background-color: white;
  color: black;
  padding: 20px 0;
  border-radius: 20px;
}

.basicList > li > button {
  width: 15%;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  transition: ease-in-out 1s;
}

.basicList > li > button:hover {
  background-color: white;
  color: black;
  padding: 20px 0;
  outline: none;
}